.navbar {
  background-color: gray;
}

.footer {
  background-color: rgb(223, 221, 217);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: gray;
}