.container {
  display: grid;
  
  justify-content: space-between;
}

.cards {
 display: flex;
 justify-content: center;
 padding-bottom: 3em;
}

@media screen and (max-width: 375px) {
  .cards {
    padding-top: 10em;
  }

}